<div class="search container">
  @if (results.users.length > 0) {
    <div>
      <h3>Users</h3>
      <ul>
        @for (user of results.users; track user.id) {
          <li>
            <a [routerLink]="['/profile', user.id]">{{ user.username }}</a>
          </li>
        }
      </ul>
    </div>
  }

  @if (results.posts.length > 0) {
    <div>
      <h3>Posts</h3>
      <ul>
        @for (post of results.posts; track post.id) {
          <li>
            <a [routerLink]="['/posts', post.id]">
              {{ post.username }}: {{ post.message}}
            </a>
          </li>
        }
      </ul>
    </div>
  }

  @if (results.users.length === 0 && results.posts.length === 0) {
    <p>No result found.</p>
  }
</div>
